{%extends 'base.html.twig'%}

{%block title%}
Home
{% endblock%}

{%block body%}
    {%if blogs%}

        {%for blog in blogs%}
            <div id="blog-entry" class="container  text-capitalize">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><em class="">{{blog.title}}</em></h3>
                </div>
                <div class="panel-body">
                  {{blog.body}}
                </div>
                <div class="panel-footer clearfix">
                    <span style="display: inline-block; vertical-align: middle;">Author:
                        {{ blog.author }}</span>
            <a href="#" class="btn btn-danger delete-blog pull-right" data-id="{{ blog.id }}" style="vertical-align: middle;">Delete</a>
                </div>
            </div>
        </div>
        {%endfor%}
    {%else%}
    <p>No Blogs to display</p>
    {%endif%}
 {%endblock%}

 {%block javascripts%}
 <script src="/js/main.js"></script>
 {%endblock%}